@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  /* Primary Colors */

  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  /* Typography */

  --fonts-body: 'Open Sans';
  --fonts-headings: 'Poppins';
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--fonts-body);
  font-size: 16px;
  color: #fff;
}

body {
  background: url(images/bg-desktop.svg) left no-repeat, var(--violet);
  background-size: contain;
}

main {
  min-height: 100vh;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.huddle-landing-page {
  width: 1260px;
  margin: 0;
}

.hu-header .hu-logo {
  justify-content: flex-end;
}

.hu-header .hu-logo img {
  width: 200px;
}

.hu-header {
  margin-top: 10px;
  margin-bottom: 75px;
}

.hu-info__container {
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
}

.hu-image img {
  width: 697px;
  display: block;
}

.hu-introductory h1 {
  max-width: 440px;
  font-family: var(--fonts-headings);
  font-size: 2.45rem;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 15px;
}

.hu-introductory p {
  max-width: 509px;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.hu-introductory .button {
  display: inline-block;
  font-family: var(--fonts-headings);
  font-size: 1.1rem;
  border-radius: 40px;
  padding: 15px 64px;
  background-color: #fff;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  color: var(--violet);
}

.hu-introductory .button:hover {
  color: #fff;
  background-color: var(--soft-magenta);
}

.hu-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.hu-socials li a i {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.hu-socials li a i:hover {
  border: 1.5px solid var(--soft-magenta);
  color: var(--soft-magenta);
}

@media (max-width: 1200px) {
  body {
    background: url(images/bg-mobile.svg) top/100% no-repeat, var(--violet);
  }

  .huddle-landing-page {
    max-width: 697px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hu-header {
    display: flex;
    align-self: flex-start;
  }

  .hu-info__container {
    flex-direction: column;
  }

  .hu-introductory {
    padding: 0 100px;
    text-align: center;
  }

  .hu-introductory h1,
  .hu-introductory p {
    max-width: 697px;
  }

  .hu-introductory p {
    margin-bottom: 40px;
  }

  .hu-socials {
    margin-top: 40px;
  }
}

/* @media (max-width: 700px) {
  body {
    background: url(images/bg-mobile.svg) top/100% no-repeat, var(--violet);
    background-size: contain;
  }

  main {
    padding: 50px 20px;
  }

  .huddle-landing-page {
    max-width: 595px;
  }

  .hu-header {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .hu-image img {
    width: 595px;
  }

  .hu-image {
    margin-bottom: 70px;
  }

  .hu-introductory {
    padding: 0;
  }

  .hu-introductory h1 {
    font-size: 2.6rem;
    padding: 0 33px;
    margin-bottom: 25px;
  }

  .hu-introductory p {
    font-size: 1.7rem;
    margin-bottom: 40px;
  }

  .hu-introductory .button {
    padding: 15px 100px;
  }

  .hu-socials {
    margin-top: 100px;
  }
} */

@media (max-width: 700px) {
  body {
    background: url(images/bg-mobile.svg) top/100% no-repeat, var(--violet);
    background-size: contain;
  }

  main {
    padding: 30px 20px;
  }

  .huddle-landing-page {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hu-header {
    margin-top: 0px;
    margin-bottom: 70px;
  }

  .hu-header .hu-logo img {
    width: 170px;
  }

  .hu-image {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .hu-image img {
    width: 400px;
  }

  .hu-introductory {
    padding: 0;
  }

  .hu-introductory h1 {
    font-size: 2rem;
    margin-bottom: 25px;
    padding: 0;
    margin-top: 10px;
  }

  .hu-introductory p {
    font-size: 1.33rem;
  }

  .hu-introductory .button {
    padding: 15px 100px;
  }

  .hu-socials {
    margin-top: 100px;
  }
}

/* Footer */

footer {
  padding: 5px 0;
  font-family: var(--fonts-headings);
  text-align: center;
  color: #000;
  font-size: 1rem;
}

footer a {
  text-decoration: inherit;
  color: inherit;
  font-weight: 600;
}

footer a:hover {
  color: var(--soft-magenta);
  text-decoration: underline;
}
